<footer>

  <div class="footer--sm">
    <h1>IDEAS PRODUCTIVITY</h1>
    <ul>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Social Link</a></li>
      <li><a href="#">Social Link</a></li>
      <li><a href="#">Social Link</a></li>
    </ul>
  </div>

  <div class="footer--lg">
    <h1>Subscribe for Email Updates</h1>
    <small>
      Copyright
      <a href="#">Legal Page</a>
      <a href="#">Legal Page</a>
      <a href="#">Legal Page</a>
    </small>
    <img class="doeLogo" src="XXX" />
  </div>
  
  <script src="{{ "/assets/js/vendor/list.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/plugin--dropdown.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/app.js" | relative_url }}"></script>

</footer>
