<footer>

  <div class="footer--sm">
    <h1>IDEAS PRODUCTIVITY</h1>
    <ul>
      <li><a href="mailto:IDEASProductivity@gmail.com" id="email">Contact Us</a></li>
      <li><a href="https://www.youtube.com/@IDEASProductivity" id="youtube">YouTube</a></li>
    <!--  
      <li><a href="#">Social Link</a></li>
      <li><a href="#">Social Link</a></li>
    -->
    </ul>
  </div>

  <div class="footer--lg">
    <h1><a href="http://eepurl.com/cQCyJ5">Subscribe</a> for Email Updates on IDEAS Events</h1>
    <small>
      Copyright 2014-{{ 'now' | date: "%Y" }}
    <!--
      <a href="#">Legal Page</a>
      <a href="#">Legal Page</a>
      <a href="#">Legal Page</a>
    -->
    </small>
    <img class="doeLogo" src="/assets/images/logos/doe/DOE_RGB_White-Seal_White-Mark_SC_Vertical.png">
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.18.0/dist/algoliasearch-lite.umd.js" integrity="sha256-V3GHVlMSAsogT3wL0OY/l4d3fRLa56gNzlnzdIMBIWg=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.56.5/dist/instantsearch.production.min.js" integrity="sha256-HUihzhULZfSeNdovzhTpVqRjWABpyZCeeuZAEmMH/VE=" crossorigin="anonymous"></script>
  <script src="{{ "/assets/js/plugin--dropdown.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/app.js" | relative_url }}"></script>

</footer>
