<!-- 

SEARCH

-------------------------------------------------------------------------------

available parameters:
* 


* required

-------------------------------------------------------------------------------

-->

<!--

- Search as mag glass until clicked
- Close search when click anywhere off screen?
- Or just shrink bar when unfocused
- Hits hidden until results/bar in focus
- Style text
- Responsive 
- Divvy into separate files

 -->



<div id="search-trigger"></div>
<div id="search-searchbar" class="search-hide"></div>
<div id="search-hits" class="search-hide"></div>


<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">
<base href="{{ site.baseurl }}">

<script>
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  apiKey: '{{ site.algolia.search_only_api_key }}',
  indexName: '{{ site.algolia.index_name }}'
});

const hitTemplate = function(hit) {
  let date = '';
  if (hit.date) {
    date = moment.unix(hit.date).format('MMM D, YYYY');
  }
  let url = `{{ site.baseurl }}${hit.url}#${hit.anchor}`;

  const title = hit._highlightResult.title.value;

  let vis = '';
  if (hit._highlightResult.headings) {
    vis = 'none'
  }

  let content = hit._highlightResult.html.value;
  content = content.slice(0, 140);
  content = content.concat('&hellip;');

  return `
    <div class="post-item" style="display: ${vis};">
      <small class="post-meta">${date}</small>
      <h2><a class="post-link" href="${url}">${title}</a></h2>
      <div class="post-snippet">${content}</div>
    </div><hr class="search-hr" style="display: ${vis};">
  `;
}

let timerId;
let timeout = 0;

search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: 'Search...',
    queryHook(query, refine) {
      clearTimeout(timerId);
      timerId = setTimeout(() => refine(query), timeout);
    },
    poweredBy: false
  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#search-hits',
    templates: {
      item: hitTemplate
    }
  })
);

search.start();

let searchInput = document.getElementById("search-searchbar");
searchInput = searchInput.getElementsByClassName("ais-search-box--input");
searchInput = searchInput[0];
const hitsDiv = document.getElementById("search-hits");
hitsDiv
const searchTrig = document.getElementById("search-trigger");
const searchBar =  document.getElementById("search-searchbar");
function isEmpty(str) {
    return !str.trim().length;
}

searchInput.addEventListener("input", (event) => {
	if( !isEmpty(searchInput.value) ) {
    	hitsDiv.classList.remove("search-hide");
		hitsDiv.classList.add("search-show");
  	} else {
  		hitsDiv.classList.remove("search-show");
		hitsDiv.classList.add("search-hide");
  	}
});

searchInput.addEventListener("blur", (event) => {
	hitsDiv.classList.remove("search-show");
	hitsDiv.classList.add("search-hide");
	searchBar.classList.remove("search-show");
	searchBar.classList.add("search-hide");
});

searchTrig.addEventListener("click", (event) => {
	searchBar.classList.remove("search-hide");
	searchBar.classList.add("search-show");

	if( !isEmpty(searchInput.value) ) {
    	hitsDiv.classList.remove("search-hide");
		hitsDiv.classList.add("search-show");
  	} else {
  		hitsDiv.classList.remove("search-show");
		hitsDiv.classList.add("search-hide");
  	}
});
</script>







