{% assign my-events = include.events | default: site[page.collection] %}
<div class="schedule">

	<!-- List Markup -->
	<div class="eventlist-wrapper">

		{% if include.title %}
			<div class="list-title">
				<h1 class="list-title">{{ include.title }}</h1>
				<!-- <hr> -->
			</div>
		{% endif %}

			  
  	<ul class="subevents">
	  	{% for slug in include.subevents %}
		  {% assign subs = my-events | where: 'slug', slug %}
		  {% assign my-subevent = subs[0] %}
		  {% include _events/subevent-item.html subevent=my-subevent %}
	  	{% endfor %}
	  </ul>

	</div>
</div>