{% comment %}
  subevent-item.html: Emit a single event listitem, styled as a subevent

  Arguments:
    event: A complete event structure
{% endcomment %}

{% assign my-title = include.event.title %}
{% if include.event.title-type %}
  {% assign my-title = my-title | append: " " | append: include.event.title-type %}
{% endif %}

{% if include.event.link-id %}
  <li id="{{ include.event.link-id }}">
{% else %}
  <li>
{% endif %}
  <a href="{{ include.event.url }}" class="subevent-link">
    <h3 class="subevent-title">{{ my-title }}</h3>
    {% if include.event.time %}
      <p class="subevent-time">{{ include.event.time }}</p>
    {% endif %}
    <small class="subevent-date">
      {{ include.event.startdate | date:"%b %d" }}
      {% assign startmo = include.event.startdate | date: "%b" %}
      {% assign endmo = include.event.enddate | date: "%b" %}
      {% if include.event.enddate %}
        {% if startmo == endmo %}
          -{{ include.event.enddate | date: "%d" }}
        {% else %}
          -{{ include.event.enddate | date: "%b %d" }}
        {% endif %}
      {% endif %}
    </small>
    <small class="subevent-type">
      {{ include.event.type }}
    </small>
  </a>
  {% if include.event.series %}
    <small class="subevent-series">Series: {{ include.event.series | join: ", " }}</small> 
  {% endif %}
</li>
