<!-- 

MEDIA, VIDEO

-------------------------------------------------------------------------------

available parameters:
* embed-code
- cover-source
- caption

* required

-------------------------------------------------------------------------------

-->

<div class="media-video">
	{% if include.cover-source %}
		<div class="img-wrapper js-videocover" data-embed="{{ include.embed-code }}">
			<div><img src="../assets/images/{{ include.cover-source }}"></div>
			<span class="play-btn">
				<div class="triangle"></div>
				<div class="circle"></div>
			</span>
		</div>
	{% else %}
		<div class="vid-wrapper">
			<div>{{ include.embed-code }}</div>
		</div>
	{% endif %}

	{% if include.caption %}
		<small class="caption">{{ include.caption }}</small>
	{% endif %}
</div>