<!-- 

MEDIA, IMAGE
please use hero-page include for hero images

-------------------------------------------------------------------------------

available parameters:
* source
- caption

* required

-------------------------------------------------------------------------------

-->

<div class="media-img">
	<div class="img-wrapper">
		<div><img src="/assets/images/{{ include.source }}"></div>
	</div>

	{% if include.caption %}
		<small class="caption">{{ include.caption }}</small>
	{% endif %}
</div>