<!-- 

MEDIA, Small Image

-------------------------------------------------------------------------------

available parameters:
* source
- contain
- caption

* required

Captions are not required, but if you want to have caption2 you must also have caption1

-------------------------------------------------------------------------------

-->

<div class="media-smimg">

	<div class="img-wrapper">
		<div><img src="/assets/images/{{ include.source }}"
			{% if include.contain %}
				style="object-fit: contain;"
			{% endif %}	
		></div>
	</div>

	{% if include.caption %}
		<div class="captions">
			<small class="caption">{{ include.caption }}</small>	
		</div>
	{% endif %}

</div>