<!-- 

TEASERS, IMAGE 4x

-------------------------------------------------------------------------------

available parameters:
- group-title
- group-linktext
- group-linkurl
- group-blurb
- group-id (anchor for direct links)
* title1
* source1
- contain1
- cover1
- scale1
* url1
- blurb1
* title2
* source2
- contain2
- cover2
- scale2
* url2
- blurb2
* title3
* source3
- contain3
- cover3
- scale3
* url3
- blurb3
* title4
* source4
- contain4
- cover4
- scale4
* url4
- blurb4

* required

This include lays out the teaser group four-across.  The input parameters are positional,
meaning that if you supply parameters only for items 2 and 4, they will appear as the
second and fourth items in the teaser group with gaps in between.

-------------------------------------------------------------------------------

-->


<div class="teasers-4x-img">

	<div class="group-intro">
		{% if include.group-title %}
		  {% if include.group-id %}
			<h1 id="{{include.group-id}}">{{ include.group-title }}</h1>
		  {% else %}
			<h1>{{ include.group-title }}</h1>
		  {% endif %}

			{% if include.group-linktext %}
			<a class="group-link" href="{{ include.group-linkurl }}">
				{{ include.group-linktext }}
			</a>	
			{% endif %}

			<hr>

			{% if include.group-blurb %}
				<p class="group-blurb">
					{{ include.group-blurb }}
				</p>
			{% endif %}

		{% endif %}
	</div>	


	{% for i in (1..4) %}

		{% assign title   = 'title'   | append: i %}
		{% assign source  = 'source'  | append: i %}
		{% assign cover   = 'cover'   | append: i %}
		{% assign contain = 'contain' | append: i %}
		{% assign scale   = 'scale'   | append: i %}
		{% assign blurb   = 'blurb'   | append: i %}
		{% assign url     = 'url'     | append: i %}

		{% if include.[title] %}
		<div class="teaser{{i}}">
			<a href="{{ include.[url] }}">
				<div class="img-wrapper{{i}}">
					<div><img src="/assets/images/{{ include.[source] }}"
						{% if include.[cover] %}
								style="
								width: 100%;
								height: 100%;
								object-fit: cover;"
							{% elsif include.[contain] %}
								style="
								width: 100%;
								height: 100%;
								object-fit: contain;
								{% if include.[scale] %}
									max-height: calc( {{ include.[scale] }}% * 100 );
									max-width: calc( {{ include.[scale] }}% * 100 );
								{% endif %}	
								"
							{% else %}
								style="object-fit: initial;
								{% if include.[scale] %}
									-ms-transform: translate(-50%, -50%) scale( {{ include.[scale] }} );
									transform: translate(-50%, -50%) scale( {{ include.[scale] }} );
								{% endif %}	
								"
							{% endif %}		
					></div>
				</div>
				<h2>{{ include.[title] }}</h2>
				{% if include.[blurb] %}
					<p>{{ include.[blurb] }}</p>
				{% endif %}	
			</a>
		</div>
		{% endif %}

	{% endfor %}



</div>

