<!-- 

TEASERS, IMAGE 2x

-------------------------------------------------------------------------------

available parameters:
- group-title
- group-linktext
- group-linkurl
- group-blurb
* title1
* source1
- contain
- half1
* url1
- blurb1
* title2
* source2
- contain2
- half2
* url2
- blurb2

* required

-------------------------------------------------------------------------------

-->

<div class="teasers-2x-img">

	<div class="group-intro">
		{% if include.group-title %}
			<h1>{{ include.group-title }}</h1>

			{% if include.group-linktext %}
			<a class="group-link" href="{{ include.group-linkurl }}">
				{{ include.group-linktext }}
			</a>	
			{% endif %}

			<hr>

			{% if include.group-blurb %}
				<p class="group-blurb">
					{{ include.group-blurb }}
				</p>
			{% endif %}

		{% endif %}
	</div>	


	<div class="teaser1">
		<a href="{{ include.url1 }}">
			<div class="img-wrapper1">
				<div><img src="/assets/images/{{ include.source1 }}"
					{% if include.contain1 %}
						style="object-fit: contain;"
					{% elsif include.half1 %}
						style="object-fit: contain; max-width: 50%; max-height: 50%;"
					{% endif %}	
				></div>
			</div>
			<h2>{{ include.title1 }}</h2>
			{% if include.blurb1 %}
				<p>{{ include.blurb1 }}</p>
			{% endif %}	
		</a>
	</div>

	<div class="teaser2">
		<a href="{{ include.url2 }}">
			<div class="img-wrapper2">
				<div><img src="/assets/images/{{ include.source2 }}"
					{% if include.contain2 %}
						style="object-fit: contain;"
					{% elsif include.half2 %}
						style="object-fit: contain; max-width: 50%; max-height: 50%;"
					{% endif %}	
				></div>
			</div>
			<h2>{{ include.title2 }}</h2>
			{% if include.blurb2 %}
				<p>{{ include.blurb2 }}</p>
			{% endif %}	
		</a>
	</div>

</div>
