<!-- 

TEASERS, BANNER

-------------------------------------------------------------------------------

available parameters:
- group-title
- group-linktext
- group-linkurl
- group-blurb
* title
* source
- contain
* url
- blurb

* required

-------------------------------------------------------------------------------

-->

<div class="teasers-banner">

	<div class="group-intro">
		{% if include.group-title %}
			<h1>{{ include.group-title }}</h1>

			{% if include.group-linktext %}
			<a class="group-link" href="{{ include.group-linkurl }}">
				{{ include.group-linktext }}
			</a>	
			{% endif %}

			<hr>

			{% if include.group-blurb %}
				<p class="group-blurb">
					{{ include.group-blurb }}
				</p>
			{% endif %}

		{% endif %}
	</div>	


	<div class="banner">
		<a href="{{ include.url }}">
			<div class="img-wrapper">
				<div><img src="/assets/images/{{ include.source }}"
					{% if include.contain %}
						style="object-fit: contain;"
					{% endif %}	
				></div>
			</div>
			<div class="text-wrapper">
				<h2>{{ include.title }}</h2>
				{% if include.blurb %}
					<p>{{ include.blurb }}</p>
				{% endif %}	
			</div>
		</a>
	</div>

</div>



