<!-- 

TEASERS, IMAGE 2x

-------------------------------------------------------------------------------

available parameters:
- group-title
- group-linktext
- group-linkurl
- group-blurb
* title1
* source1
- contain1
- cover1
- scale1
* url1
- blurb1
* title2
* source2
- contain2
- cover2
- scale2
* url2
- blurb2

* required

Images are included at their original size by default. To have the image scale and crop to fill the space use the cover parameter, if you would like the image to be contained within the space use the contain parameter. You can also provide a decimal scale to size the image. For contained images this will set the the percentage of the area the image will cover, for the default sizing it will scale the image according to itself.

-------------------------------------------------------------------------------

-->

<div class="teasers-2x-img">

	<div class="group-intro">
		{% if include.group-title %}
			<h1>{{ include.group-title }}</h1>

			{% if include.group-linktext %}
			<a class="group-link" href="{{ include.group-linkurl }}">
				{{ include.group-linktext }}
			</a>	
			{% endif %}

			<hr>

			{% if include.group-blurb %}
				<p class="group-blurb">
					{{ include.group-blurb }}
				</p>
			{% endif %}

		{% endif %}
	</div>	

	{% for i in (1..2) %}

		{% assign title   = 'title'   | append: i %}
		{% assign source  = 'source'  | append: i %}
		{% assign cover   = 'cover'   | append: i %}
		{% assign contain = 'contain' | append: i %}
		{% assign scale   = 'scale'   | append: i %}
		{% assign blurb   = 'blurb'   | append: i %}
		{% assign url     = 'url'     | append: i %}

		<div class="teaser{{i}}">
			<a href="{{ include.[url] }}">
				<div class="img-wrapper{{i}}">
					<div><img src="/assets/images/{{ include.[source] }}"
						{% if include.[cover] %}
								style="
								width: 100%;
								height: 100%;
								object-fit: cover;"
							{% elsif include.[contain] %}
								style="
								width: 100%;
								height: 100%;
								object-fit: contain;
								{% if include.[scale] %}
									max-height: calc( {{ include.[scale] }}% * 100 );
									max-width: calc( {{ include.[scale] }}% * 100 );
								{% endif %}	
								"
							{% else %}
								style="object-fit: initial;
								{% if include.[scale] %}
									-ms-transform: translate(-50%, -50%) scale( {{ include.[scale] }} );
									transform: translate(-50%, -50%) scale( {{ include.[scale] }} );
								{% endif %}	
								"
							{% endif %}	
					></div>
				</div>
				<h2>{{ include.[title] }}</h2>
				{% if include.[blurb] %}
					<p>{{ include.[blurb] }}</p>
				{% endif %}	
			</a>
		</div>

	{% endfor %}



</div>
