<!-- 

TEASERS, BANNER

-------------------------------------------------------------------------------

available parameters:
- group-title
- group-linktext
- group-linkurl
- group-blurb
* title
* source
- contain
- cover
- scale
* url
- blurb

* required

Images are included at their original size by default. To have the image scale and crop to fill the space use the cover parameter, if you would like the image to be contained within the space use the contain parameter. You can also provide a decimal scale to size the image. For contained images this will set the the percentage of the area the image will cover, for the default sizing it will scale the image according to itself.

-------------------------------------------------------------------------------

-->

<div class="teasers-banner">

	<div class="group-intro">
		{% if include.group-title %}
			<h1>{{ include.group-title }}</h1>

			{% if include.group-linktext %}
			<a class="group-link" href="{{ include.group-linkurl }}">
				{{ include.group-linktext }}
			</a>	
			{% endif %}

			<hr>

			{% if include.group-blurb %}
				<p class="group-blurb">
					{{ include.group-blurb }}
				</p>
			{% endif %}

		{% endif %}
	</div>	


	<div class="banner">
		<a href="{{ include.url }}">
			<div class="img-wrapper">
				<div><img src="/assets/images/{{ include.source }}"
					{% if include.cover %}
						style="object-fit: cover;"
					{% elsif include.cover %}
						style="object-fit: contain;
						{% if include.scale %}
							max-height: calc( {{ include.scale }}% * 100 );
							max-width: calc( {{ include.scale }}% * 100 );
						{% endif %}	
						"
					{% else %}
						style="object-fit: initial;
						{% if include.scale %}
							-ms-transform: translate(-50%, -50%) scale( {{ include.scale }} );
							transform: translate(-50%, -50%) scale( {{ include.scale }} );
						{% endif %}	
						"
					{% endif %}	
				></div>
			</div>
			<div class="text-wrapper">
				<h2>{{ include.title }}</h2>
				{% if include.blurb %}
					<p>{{ include.blurb }}</p>
				{% endif %}	
			</div>
		</a>
	</div>

</div>



