/**
  * Component: Teasers, 4x with Image
  *  
  * @description
  * -
  */

.teasers-4x-noimg {
	grid-column: 1 / -1;
	@include grid-child($cols:12);
	@include stack(md);

	.group-intro {
		grid-column: 1 / -1;
	}

	h1 {
		@include typestyle($sans-md-bld);
		display: inline-block;
		border-bottom: none;
		@include inline($right:sm);
		@include stack(xs);
	}

	.group-link {
		@include typestyle($sans-sm-reg);
		display: inline-block;
		color: color(neutral, XXX);
	}

	hr {
		border:none;
		height: 4px;
		background-color: color(warm,X);
		@include stack(xs);
	}

	.group-blurb {
		@include typestyle($sans-lg-reg);
		@include stack(sm);
	}

	.teaser1 {
  	grid-column: 1 / 4;
	}

	.teaser2 {
		grid-column: 4 / 7;
	}

	.teaser3 {
		grid-column: 7 / 10;
	}

	.teaser4 {
		grid-column: 10 / -1;
	}

	.teaser1, 
	.teaser2,
	.teaser3, 
	.teaser4 {
		@include inset(xs);
		background-color: color(neutral, X); 
		box-shadow: 4px 4px 7px rgba(5, 2, 35, 0.1); 
		-webkit-box-shadow: 4px 4px 7px rgba(5, 2, 35, 0.1); 
		-moz-box-shadow: 4px 4px 7px rgba(5, 2, 35, 0.1); 
		transition: all 0.2s ease-out;

		// working backwards to get a square
		// will need to address these getting too tall 
		// media querie and assign static min-height after certain viewport width
		min-height: calc(100vw * .25 - 28px * 2);

		&:hover {
			background-color: color(green, XX);
		}
	}

	.teaser1 a,
	.teaser1 a:hover, 
	.teaser2 a,
	.teaser2 a:hover,
	.teaser3 a,
	.teaser3 a:hover, 
	.teaser4 a,
	.teaser4 a:hover {
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
	}

	.teaser1 h2, 
	.teaser2 h2,
	.teaser3 h2, 
	.teaser4 h2 {
		@include typestyle($sans-sm-bld);
		margin-bottom: 0 !important;
	}

	.teaser1 p, 
	.teaser2 p,
	.teaser3 p, 
	.teaser4 p {
		@include stack(md);
	}

}


p + .teasers-4x-noimg {
	margin-top: bl(12); //48px
}