/**
  * Component: Hero, Home
  *  
  * @description
  * -
  */

.hero-home {
	background-color: color(green, XXX);
	background-image: url("/assets/images/bg.gif");
	background-repeat: repeat;
  padding: 15vh 0; 
  @include stack(lg);
  @include respond-to(m){
		padding: 15vh bl(7); //28px
	}

  .hero-content-wrapper {
  	@include grid-parent();
  }

  .tri-wrapper {
  	grid-column: 4 / 10;
  	text-align: center;
  	@include stack(md);
  	@include respond-to(m){
			grid-column: 1 / 4;
			margin-bottom: 0;
		}
  }

  .tri-wrapper img {
  	margin: 0 auto;
  	max-width: 172px;
  }

  .text-wrapper {
  	grid-column: 1 / -1;
  	@include respond-to(m){
			grid-column: 4 / -1;
		}
  }

	.blurb {
		@include typestyle($sans-xl-reg);
		hyphens: none;
		color: color(neutral, X);
	}

	.cta {
		color: color(neutral, X);
	}

	.cta a {
		color: color(neutral, X);
		text-decoration-color: color(blue, XX);
	}

	

}




