/**
  * Component: Event List
  *  
  * @description
  * -
  */

.list-events {
	@include grid-child($cols:12);
	@include stack(xs);

	.group-intro {
		grid-column: 1 / -1;
	}

	.eventlist-wrapper {
		@include grid-child($cols:12);
	}

	.list-title {
		grid-column: 1 / -1
	}

	.list-title h1 {
		@include typestyle($sans-md-bld);
		display: inline-block;
		border-bottom: none;
		@include inline($right:sm);
		@include stack(xs);	
	}

	.list-title hr {
		border:none;
		height: 4px;
		background-color: color(warm,X);
		@include stack(xs);
	}

	.list h1 {
		@include typestyle($sans-md-bld);
		display: inline-block;
		border-bottom: none;
		@include inline($right:sm);
		@include stack(xs);
	}

	.group-link {
		@include typestyle($sans-sm-reg);
		display: inline-block;
		color: color(neutral, XXX);
	}

	hr {
		border:none;
		height: 4px;
		background-color: color(warm,X);
		// @include stack(xs);
	}

	ul {
		@include grid-child($cols:12);
		list-style: none;
		padding: 0;
		@include stack(md);
	}

	li {
		@include grid-child($cols:12);
		border-bottom: 1px solid color(neutral, XXX);
		padding: bl(3) 0; //12px
	}

	p {
		grid-column: 1 / -1;
		color: #696a71;
		@include stack(md);
	}

	.event-link {
		@include grid-child($cols:12);
		text-decoration: none;
	}

	.event-link:hover,
	.event-link:hover small {
		text-decoration: underline;
		color: color(green, XX);
	}

	.event-title {
		grid-column: 1 / -1;
		grid-row: 4;	
		@include stack(xs);
		@include typestyle($sans-md-reg);
		@include respond-to(s){
			grid-column: 4 / -1;
			grid-row: 2;
			min-height: bl(24); //96px
			margin-bottom: 0 !important;
		}
	}

	.event-date {
		grid-column: 1 / -1;
		grid-row: 2;
		@include typestyle($sans-sm-reg);
		@include respond-to(s){
			@include typestyle($sans-md-reg);
			grid-column: 1 / 4;
			grid-row: 2;
		}

	}

	.event-year {
		grid-column: 1 / -1;
		grid-row: 1;
		margin-bottom: 0;
		@include respond-to(s){
			grid-column: 1 / 4;
		}
	}

	.event-type {
		grid-column: 1 / -1;
		grid-row: 3;
		margin-bottom: 0;
		@include respond-to(s){
			grid-column: 4 / -1;
			grid-row: 1;
		}
	}

	.event-series_venue {
		grid-column: 1 / -1;
		grid-row: 5;
		@include respond-to(s){
			display: flex;
			grid-column: 4 / -1;
			grid-row: 3;
			margin-bottom: -4px;
		}	
	}

	.event-series {
			width: 100%;
			display: inline-block;
			@include respond-to(s){
				margin-right: 24px;
				flex-basis: 240px;
			}
	}

	.event-venue {
		width: 100%;
		display: inline-block;
		@include respond-to(s){
			flex-basis: 240px;
			flex-grow: 1;
		}
	}


	.subevents {
		@include grid-child($cols:12);
		width: 100vw;
		max-width: 1296px; //1240 standard max + padding
		box-sizing: border-box;
		margin-left: -28px;
		padding-left: 28px;
		padding-right: 28px;
		background-color: color(neutral, XXB);
		grid-row: 4;
		margin-bottom: -.75rem !important;
		li { border-bottom: none; }
	}

	.subevent-link {
		@include grid-child($cols:12);
		text-decoration: none;
	}

	.subevent-link:hover,
	.subevent-link:hover small {
		text-decoration: underline;
		color: color(green, XX);
	}

	.subevent-title {
		grid-column: 	1 / -1;
		grid-row: 4;
		@include typestyle($sans-sm-reg);
		@include respond-to(s){
			grid-column: 4 / -1;
			grid-row: 2;
			// min-height: bl(10); 
		}
	}

	.subevent-date {
		grid-column: 1 / -1;
		grid-row: 1;
		margin-bottom: 0;
		@include respond-to(s){
			grid-column: 1 / 4;
		}
	}

	.subevent-time {
		grid-column: 1 / -1;
		grid-row: 2;
		@include typestyle($sans-xs-reg);
		@include respond-to(s){
			@include typestyle($sans-sm-reg);
			grid-column: 1 / 4;
		}
	}

	.subevent-type {
		grid-column: 1 / -1;
		grid-row: 3;
		margin-bottom: 0;
		@include respond-to(s){
			grid-column: 4 / -1;
			grid-row: 1;
		}
	}

	.subevent-series {
		grid-column: 1 / -1;
		grid-row: 5;
		@include stack(xxs);
		@include respond-to(s){
			grid-column: 4 / -1;
			grid-row: 3;
		}
	}



	.pagination-wrapper {
		grid-column: 1 / -1;
	}

	.paginatino-wrapper,
	ul.pagination,
	.btn-prev,
	.btn-next,
	ul.pagination li {
		display: inline;
	}

	.active {
		font-size: 30px;
    font-weight: 900;
	}

	ul.pagination li {
		border: none;
	}

	.pagination a {
		color: color(blue, XXX);
		text-decoration: none;
	}

	.pagination a:hover {
		color: color(neutral, XXX);
		opacity: .75;
	}

	.prev {
		@include inline(xs);
	}

	.prev:before {
		@include typestyle($icon-sm);
		content: "\e901";
		position: relative;
		top: 3px;
	}

	.next:after {
		@include typestyle($icon-sm);
		content: "\e902";
		position: relative;
		top: 3px;
	}

	.first {
		@include inline(xxs);
	}

	.first:after {
		content: "\2026"; 
	}

	.mid {
		@include inline(xxs);
	}

	.last {
		@include inline(xs);
	}

	.last:before {
		content: "\2026";
	}

	.active-no, a.active-no, .first:after, .last:before {
		color: color(neutral, XXX);
		text-decoration: none;
		opacity: .75;
		cursor: text;
	}

}