/**
  * Component: Media, Hero Image
  *  
  * @description
  * -
  */

  .hero-img {
	@include grid-child($cols:12);

	.img-wrapper {
		@include aspect-ratio(16, 9);
		grid-column: 3 / 11;
		@include stack(xxs);
	}

	img {
	 	width: 100%;
		height: 100%;
		object-fit: cover;
		margin: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}

	.caption {
		grid-column: 3 / 11;
		@include stack(md);
	}
}