/**
  * Component: Footer
  *  
  * @description
  * -
  */

footer {
	width: 100%;
	position: relative;
	transform: translateY(9rem);

	.footer--bg-light,
	.footer--bg-dark {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: -100;
	}

	.footer--bg-light {
		left: 0;
		right: 50%;
		background-color: color(blue, XX);
	}

	.footer--bg-dark {
		left: 50%;
		right: 0;
		background-color: color(blue, XXX);
	}

	.footer--content-wrapper {
		@include grid-parent();
	}
	

	.footer--sm {
		grid-column: span 12;
		background-color: color(blue, XX);
		margin-left: -28px;
		margin-right: -28px;
    padding: 28px;
    @include respond-to(m){
			grid-column: 1 / 4;
		}
	}

	.footer--lg {
		@include grid-child($col-start: 1, $cols: 12);
		background-color: color(blue, XXX);
		margin-left: -28px;
		margin-right: -28px;
    padding: 28px 28px 16px 28px;
    @include respond-to(m){
			@include grid-child($col-start: 4, $cols: 9);
		}
	}

	.footer--sm h1 {
		@include typestyle($sans-sm-bld);
		color: color(blue, XXX);
		border: none;
	}

	.footer--sm h1:after {
		content: '\2003 \25B6';	
		color: color(neutral, X);
	}

	.footer--sm ul {
		list-style: none;
	}

	.footer--sm ul,
	.footer--sm li {
		margin-left: 0;
		padding-left: 0;
	}

	.footer--sm a,
	.footer--sm a:visited {
		color: color(blue, XXX);
		// text-decoration-color: color(neutral, X);
		text-decoration: none;
	}

	.footer--sm a#email:before {
		@include typestyle($icon-xs);
		content: '\ea86 \00a0';
	}

	.footer--sm a#youtube:before {
		@include typestyle($icon-xs);
		content: '\ea9d \00a0';
	}

	.footer--sm a:hover,
	.footer--sm a:visited:hover {
		color: color(neutral, X);
		text-decoration: underline;
		text-decoration-color: color(neutral, X);
	}


	.footer--lg h1 {
		@include typestyle($sans-md-reg);
		color: color(neutral, X);
		border: none;
		grid-column: 1 / -1;
		grid-row: 1;
		@include stack(lg);
	}

	.footer--lg a {
		color: color(neutral, X);
		&:hover {
			color: color(green, XX);
			text-decoration: underline;
		}
	}

	.footer--lg small {
		@include typestyle($sans-xs-reg);
		color: color(neutral, X);
		grid-column: 1 / 8;
		grid-row: 2;
		align-self: end;
	}

	.footer--lg small a {
		color: color(blue, XX);
		text-decoration: none;
		margin-left: bl(2); //8px
	}

	.footer--lg .doeLogo {
		grid-column: 8 / -1;
		grid-row: 2;
		max-width: 200px;
	}

}