/**
  * Component: Media, Video
  *  
  * @description
  * -
  */

.media-video {
	@include grid-child($col-start: 1, $cols: 12);
	@include stack(sm);

	.img-wrapper,
	.vid-wrapper {
		@include aspect-ratio(16, 9);
		grid-column: 3 / 11;
		cursor: pointer;
	}

	img,
	iframe {
		min-height: 100%;
		min-width: 100%;
		object-fit: cover;
	}

	.caption {
		margin-top: bl(2);
		grid-column: 3 / 11;
		grid-row: 2;
	}

	.play-btn {
		position: absolute;
		display: inline-block;
		aspect-ratio : 1 / 1;
		top: bl(4); //16px
		right: bl(4); //16px
		width: 80px;
		z-index: 1000;
	}

	.play-btn .circle {
		height: 100%;
  	width: 100%;
  	background-color: color(blue, XX);
  	border-radius: 50%;
  	position: absolute;
	}

	.play-btn .triangle {
  	box-sizing: border-box;
	  border-color: transparent transparent transparent color(neutral, X);
	  border-style: solid;
	  border-width: 18px 0 18px 30px;
	  position: absolute;
	  z-index: 1000;
	  top: calc(40px - 18px);
	  left: calc(40px - 11px);
	}

	.img-wrapper:hover .play-btn .circle {
		background-color: color(green, XX);
	}
}


p + .media-video {
	margin-top: bl(2); //8px
}

