/**
  * Component: Sidebar, Events
  *  
  * @description
  * -
  */

.sidebar-events {
	grid-column: 1 / -1;
	height: auto;
	position: relative;
	z-index: 10000;
	@include stack(md);
	overflow: visible;
	@include respond-to(m){
		grid-column: 1 / 3;
		height: 0;
		margin-bottom: 0 !important;
	}

	.sidebar-year {
		display: block;
		@include stack(xxs);

	}

	.sidebar-date {
		@include typestyle($sans-sm-reg);
		@include respond-to(m){
			@include typestyle($sans-md-reg);
		}
	}

	.sidebar-time {
		@include typestyle($sans-xs-reg);
		@include stack(xs);
	}

	hr {
		background-color: #DDE6E7;
		border: none;
		height: 1px;
		@include stack(xs);
	}

	ul,
	ul li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}

	li h4 {
		@include typestyle($sans-xs-reg);
	}

	li p {
		@include typestyle($sans-xs-reg);
		margin-bottom: 0 !important;
	}

	li p,
	li p a {
		color: color(neutral, XXX);
	}

}


