/**
  * Component: Text, Big Link
  *  
  * @description
  * -
  */

.text-biglink {
	grid-column: 	1 / -1;
	display: inline-block;
	@include stack(md);
	@include typestyle($sans-md-reg);
	@include respond-to(m){
		grid-column: 3 / 10;
	}
}

.pushleft {
	@include respond-to(m){
		grid-column: 1 / -1;
	}
}


p + p .text-biglink,
ul + p .text-biglink,
ol + p .text-biglink,
p + .text-biglink,
ul + .text-biglink,
ol + .text-biglink {
	margin-top: bl(6) !important; //24px
}