/**
  * Component: Header
  *  
  * @description
  * -
  */

.header {
	background-color: color(green, XXXX);
	height: 50px;
	padding-top: bl(3); //12px
	box-sizing: border-box;
	border-bottom: 2px solid color(blue, XX);
	visibility: hidden;

	@include respond-to(m){
		visibility: visible;
	}

	.masthead {
		grid-column: 1 / 4;
	}

	.nav {
		grid-column: 4 / -1;
		justify-self: end;
		margin-top: -12px;
		position: relative;
	}

	h1 {
		@include typestyle($sans-sm-bld);
		color: color(neutral, X);
		border: none;
	}

	h1:after {
		content: '\2003 \25B6';	
		color: color(green, XX);
	}

	h2 {
		@include typestyle($sans-sm-bld);
		color: color(neutral, X);
		display: inline-block;
		margin-left: bl(2); //8px;
		margin-right: bl(2); //8px;
		padding-top: 0;
		margin-top: -2px !important; //to align with masthead
	}

	h1 a, 
	h1 a:visited,
	h2 a, 
	h2 a:visited {
		color: color(neutral, X);
		text-decoration: none;
	}

	.menuitem-wrapper {
		height: 48px;
		display: inline-block;
		padding-top: 12px;
	}

	.menuitem-wrapper:hover {
		background-color: color(neutral, X);
	}

	.menuitem-wrapper:hover .menuitem {
		color: color(blue, XXX);
	}

	.menuitem:after {
		@include typestyle($icon-sm);
		content: '\e900';	
		position: relative;
		top: 4px;
		color: color(green, XX);
		margin-top: 0;
	}

	.menuitem-wrapper:hover .menuitem:after {
		color: color(blue, XX);
	}

	.dropdown {
		@include inset(xs);
		background-color: color(neutral, X); 
		box-shadow: 4px 4px 7px rgba(5, 2, 35, 0.1); 
		-webkit-box-shadow: 4px 4px 7px rgba(5, 2, 35, 0.1); 
		-moz-box-shadow: 4px 4px 7px rgba(5, 2, 35, 0.1); 
		transition: all 0.2s ease-out;
		position: absolute;
		top: 48px;
		min-width: 200px;
		padding-top: bl(2); //8px
	}


	.dropdown ul,
	.dropdown li {
		margin-left: 0;
		padding-left: 0;
	}

	.dropdown ul {
		list-style: none;
		margin-bottom: bl(1) !important; //4px
	}

	.dropdown a {
		color: color(blue, XXX);
		text-decoration: none;
		display: inline-block;
		margin-bottom: bl(2); //8px
	}

	.dropdown a:hover {
		color: color(blue, XX);
	}

	.dropdown hr {
		background-color: #DDE6E7;
		border: none;
		height: 1px;
	}

	.js-dropdown-hidden {
		display: none;
	}

	.js-dropdown-visible {
		display: block;
	}





// SEARCH


	#search-trigger {
		width: 16px;
		padding-left: 12px;
		display: inline-block;
	}
	#search-trigger:after {
		@include typestyle($icon-sm);
		content: '\e986';	
		position: relative;
		top: 3px;
		// right: 3px;
		color: color(green, XX);
		margin-top: 0;
		transition: all 0.2s ease-out;
	}
	#search-trigger:hover:after {
		color: color(neutral, XXX);
		cursor: pointer;
	}
	#search-searchbar{
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	#search-hits{
		position: absolute;
		top: 50px;
		right: -28px;
		left: 0;
		max-height: calc(75vh - 50px);
		overflow-y: scroll;
		background: color(blue, X);
		@include inset(xs, sm);
		padding-bottom: 0;
		box-sizing: border-box;
		z-index: 100000;
	}
	.ais-search-box {
	  max-width: none;
	  height: 100%;
	}
	.ais-search-box .ais-search-box--input{
	  width: calc(100% + 28px);
	  height: calc(100% - 12px);
	  border: None;
	  background-color: color(blue, X);
	  border-radius: unset;
	  color: color(blue, XXX);
	  @include typestyle($sans-sm-bld);
	  padding-left: 48px;
	}
	.ais-search-box--loading-indicator-wrapper, .ais-search-box--magnifier {
	  // fill: color(blue, XXX);
	  left: 12px;
	  top: calc(50% - 15px);
	}
	.ais-search-box--loading-indicator-wrapper, .ais-search-box--magnifier:after {
		@include typestyle($icon-sm);
		content: '\e986';	
		position: relative;
		color: color(blue, XXX);
		top: -3px;
		transition: all 0.2s ease-out;
	}
	.ais-search-box--loading-indicator-wrapper, .ais-search-box--magnifier svg {
		display: none;
	}
	.post-item {
	  padding-bottom: bl(1);
	  // @include stack(xs);
	}
	.post-link .ais-Highlight {
	  color: color(green, XXXX);
	  font-style: normal;
	  text-decoration: underline;
	}
	.post-breadcrumbs {
	  color: #424242;
	  display: block;
	}
	.post-breadcrumb {
	  font-size: 18px;
	  color: #424242;
	}
	.post-breadcrumb .ais-Highlight {
	  font-weight: bold;
	  font-style: normal;
	}
	.post-snippet .ais-Highlight {
	  color: #2a7ae2;
	  font-style: normal;
	  font-weight: bold;
	}
	.post-snippet img {
	  display: none;
	}
	.post-meta, .post-snippet p {
		@include typestyle($sans-xs-reg);
		color: color(blue, XXX);
	}
	.post-meta {
		display: block;
		color: color(neutral, XXX);
		margin-bottom: 0;
	}
	.post-item h2 {
		margin-left: 0;
		@include stack(xxs);
	}
	.post-link, .post-link:visited {
		color: color(blue, XXX);
		@include typestyle($sans-sm-bld);
	}
	.search-hr {
		margin-left: -24px;
		width: calc(100% + 48px);
		border-top: 1px solid color(blue, XX);
		border-bottom: none;
		opacity: .5;
		@include stack(xs);
	}
	.ais-hits .ais-hits--item:last-of-type .search-hr {
		margin-bottom: 0 !important;
	}

	.search-hide {
		display: none;
	}
	.search-show {
		display: block;
	}
}




.header-mobile {
	position: fixed;
	z-index: 5000;
	top: 0;
	width: 100vw;
	display: block;
	background-color: color(green, XXXX);
	border-bottom: 2px solid color(blue, XX);

	@include respond-to(m){
		display: none;
	}

	.nav-bar--mobile {
		@include grid-parent();
		padding-top: bl(3); //12px
		box-sizing: border-box;
		height: 50px;
	}

	.masthead {
		grid-column: 1 / 10;
	}

	.icon-links {
		grid-column: 10 / -1;
		justify-self: end;
	}

	h1 {
		@include typestyle($sans-sm-bld);
		color: color(neutral, X);
		border: none;
	}

	h1:after {
		content: '\2003 \25B6';	
		color: color(green, XX);
	}

	h1 a, 
	h1 a:visited {
		color: color(neutral, X);
		text-decoration: none;
	}

	.burger {
		@include typestyle($icon-sm);
		color: color(green, XX);
		text-decoration: none;

		&:hover {
			text-decoration: none;
			cursor: pointer;
			color: color(neutral, XX);
		}
	}




	.nav-pane {
		background-color: color(neutral, X);
		padding-top: 24px;
		padding-bottom: 24px;
		border-top: 2px solid color(blue, XX);
		// display: none;
	}

	.nav-pane--wrapper {
		@include grid-parent();
	}

	.nav-pane--chunk {
		grid-column: 1 / -1;
		@include stack(sm);
	}

	.nav-pane--wrapper a {
		color: color(blue, XXX);
		text-decoration: none;
		margin-bottom: bl(2); //8px
		&:hover {
			color: color(blue, XX);
		}
	}

	.nav-pane ul,
	.nav-pane li {
		margin-left: 0;
		padding-left: 0;
	}

	.nav-pane ul {
		list-style: none;
		margin-bottom: bl(1) !important; //4px
	}

	.nav-pane hr {
		background-color: #DDE6E7;
		border: none;
		height: 1px;
	}

	.js-dropdown-hidden {
		display: none;
	}

	.js-dropdown-visible {
		display: block;
	}


}
