/**
  * Component: Upcoming Events List
  *  
  * @description
  * -
  */

.upcoming-events {
	@include grid-child($cols:12);
	@include stack(md);

	.group-intro {
		grid-column: 1 / -1;
	}

	h1 {
		@include typestyle($sans-lg-reg);
		display: inline-block;
		border-bottom: none;
		@include inline($right:sm);
		@include stack(xs);
	}

	.group-link {
		@include typestyle($sans-sm-reg);
		display: inline-block;
		color: color(neutral, XXX);
	}

	hr {
		border:none;
		height: 4px;
		background-color: color(warm,X);
		// @include stack(xs);
	}

	ul {
		@include grid-child($cols:12);
		list-style: none;
		padding: 0;
	}

	li {
		@include grid-child($cols:12);
		border-bottom: 1px solid color(neutral, XXX);
		padding: bl(3) 0; //12px
	}

	.event-link {
		@include grid-child($cols:12);
		text-decoration: none;
	}

	.event-link:hover,
	.event-link:hover small {
		text-decoration: underline;
		color: color(green, XX);
	}

	.event-title {	
		grid-column: 1 / -1;
		grid-row: 4;
		@include typestyle($sans-md-reg);
		@include respond-to(s){
			grid-column: 4 / -1;
			grid-row: 2;
			min-height: bl(24); //96px
		}
	}

	.event-date {
		grid-column: 1 / -1;
		grid-row: 2;
		@include typestyle($sans-md-reg);
		@include respond-to(s){
			grid-column: 1 / 4;
			grid-row: 2;
		}
	}

	.event-year {
		grid-column: 1 / 4;
		grid-row: 1;
		margin-bottom: 0;
	}

	.event-type {
		grid-column: 1 / -1;
		grid-row: 3;
		margin-bottom: 0;
		@include respond-to(s){
			grid-column: 4 / -1;
			grid-row: 1;
		}
	}

	.event-series {
		grid-column: 1 / -1;
		grid-row: 5;
		@include respond-to(s){
			grid-column: 4 / -1;
			grid-row: 3;
			margin-bottom: -4px;
		}		
	}

	.upcoming-events--more {
		grid-column: 1 / -1;
	}


}


