/**
  * Component: Navigation, Sidebar
  *  
  * @description
  * -
  */

.nav-sidebar {
	grid-column: 1 / -1;
	height: auto;
	position: relative;
	z-index: 10000;
	@include stack(sm);
	overflow: visible;
	margin-top: -3rem;
	@include respond-to(m){
		grid-column: 1 / 3;
		height: 0;
		margin-bottom: 0 !important;
		margin-top: auto;
	}

	hr {
		background-color: #DDE6E7;
		border: none;
		height: 1px;
		margin-bottom: 4px;
		@include respond-to(m){
			margin-bottom: 6px;
		}
	}

	hr.top {
		margin-bottom: 4px;
		@include respond-to(m){
			margin-bottom: 8px;
		}
	}

	ul,
	ul li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		@include typestyle($sans-xs-reg);
		@include respond-to(m){
			@include typestyle($sans-sm-reg);
		}
	}

	li h4 {
		@include typestyle($sans-xs-reg);
	}

	li a {
		color: color(blue, XXX);
		text-decoration: none;
		display: inline-block;
		position: relative;
		width: 100%;
		height: 100%;
		padding-bottom: 6px;
		@include respond-to(m){
			@include stack(xs);
		}
	}

	li a.current {
		$offset: bl(4); //24px
		left: $offset;
		width: calc(100% - #{$offset});

		&:before {
			content: '\25B6';	
			position: relative;
			left: calc(-1 * #{$offset});
		}
	}

	li a:hover {
		$offset: bl(4); //24px
		left: $offset;
		width: calc(100% - #{$offset});
		color: color(blue, XX);
		text-decoration: none;

		&:before {
			content: '\25B6';	
			position: relative;
			left: calc(-1 * #{$offset});
		}
	}


}


