<!-- 

BANNER, A

-------------------------------------------------------------------------------

available parameters:
* source
* blurb

* required

-------------------------------------------------------------------------------

-->

<div class="banner-a">
	<div class="background-wrapper">
		<img class="background" src="/assets/images/banner-bg.png">
	</div>
	<div class="art-wrapper">
		<div class="art">
			<div><img src="/assets/images/{{ include.source }}"></div>
			<div class="scrim"></div>
		</div>
	</div>
	<p class="blurb">{{ include.blurb }}</p>
</div>




