<!-- 

HERO, PAGE

-------------------------------------------------------------------------------

available parameters:
- blurb

* required

-------------------------------------------------------------------------------

-->

<div class="hero-home">
	<div class="hero-content-wrapper">
		<div class="tri-wrapper">
			<img src="/assets/images/tri.svg">
		</div>
		<div class="text-wrapper">
			<p class="blurb">{{ include.blurb }}</p>
			<p class="cta">We evaluate and disseminate best practices and supporting methods and tools, to improve developer productivity, software sustainability and scientific reproducibility.</p>
			<p class="cta">Learn more about IDEAS: <a href="/overview/background">Background</a>, <a href="/overview/approach">Approach</a>, <a href="/overview/impact">Impact</a></p>
		</div>
	</div>	
</div>
