<!-- 

HERO, PAGE

-------------------------------------------------------------------------------

available parameters:
- blurb

* required

-------------------------------------------------------------------------------

-->

<div class="hero-home">
	<div class="tri-wrapper">
		<img src="/assets/images/tri.svg">
	</div>
	<div class="text-wrapper">
		<p class="blurb">{{ include.blurb }}</p>
		<p class="cta">Learn more about IDEAS: <a href="#">Background</a>, <a href="#">Approach</a>, <a href="#">Impact</a>
	</div>
	
</div>
