<!-- 

UPCOMING EVENTS

-------------------------------------------------------------------------------

available parameters:
* title
* group-linktext
* group-linkurl
limit (default: 3)

* required

-------------------------------------------------------------------------------

-->

{% assign limit = include.limit | default: 3 %}

<div class="upcoming-events">


	<!-- Group Intro  -->
	<div class="group-intro">
			<h1>{{ include.title }}</h1>

			{% if include.group-linktext %}
				<a class="group-link" href="{{ include.group-linkurl }}">{{ include.group-linktext }}</a>
			{% endif %}

			<hr>
	</div>	


	{% comment %}
		We're interested in upcoming events only, which is the first where_exp.

		Moreover, we're only interested in top-level events, since the listing of an event will include its subevents too.  Anything with the parent-event-* keys is a subevent of something else and will be listed that way.  That's the second where_exp.

		And the side benefit of excluding the subevents from the list is that we
		deal wit the limit on the number of upcoming events to list properly 
		because they're not in the array, confusing the count.
	{% endcomment %}
	{% assign today = site.time | date:"%Y-%m-%d" %}
	{% assign sorted = site.events | where_exp: "item", "item.startdate >= today or item.enddate >= today" | where_exp: "item", "item.parent-event-name == nil" and "item.parent-event-file == nil" | sort:"startdate"  %}

		{% if sorted and sorted.size != 0 %}
		<ul class="event-list">
		{% for event in sorted limit: limit %}
		{% include _events/event-item.html event=event %}
	{% endfor %}
	</ul>
	{% else %}
	<p>No events found</p>
	{% endif %}
	{% assign remaining = sorted | size | minus: limit %}
	{% if remaining > 0 %}
		<p class="upcoming-events--more"><a href='{{ include.group-linkurl }}'>see {{remaining }} more upcoming {{ remaining | pluralize: "event", "events" }}</a></p>
	{% endif %}

</div>