<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include _layout/head.html -%}

  <body>

    <script>
      if(location.hash){
        console.log(location.hash);
        location=location;
      }
    </script>

    {%- include _layout/header.html -%}

    <main class="page-content layout-wrapper" aria-label="Content">
    	{%- include _layout/hero-page.html 
    	    title = page.title
    	    blurb = page.blurb
    	    meta1-name = page.meta1-name
    	    meta1-value = page.meta1-value
    	    meta2-name = page.meta2-name
    	    meta2-value = page.meta2-value
    	-%}
      {{ content }}
    </main>

    {%- include _layout/footer.html -%}

  </body>

</html>
