<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include _layout/head.html -%}

<body>

  {%- include _layout/header.html -%}

  {% comment %}
            Emit the deck information 
  
            Uses series and parent-event-* keys, if present
            Otherwise uses meta1-*, meta2-* keys
  {% endcomment %}
  {% if page.series %}
    {% assign my-meta1-name = "Series" %}
    {% assign my-meta1-value = "" %}
    {% for s in page.series %}
      {% capture link %}<a href='{{ site.baseurl }}/resources/series/{{ s | slugify }}'>{{ s }}</a>{% endcapture %}
      {% assign my-meta1-value = my-meta1-value | append: link %}
      {% unless forloop.last %}
        {% assign my-meta1-value = my-meta1-value | append: ", " %}
      {% endunless %}
    {% endfor %}
  {% else %}
    {% assign my-meta1-name = page.meta1-name %}
    {% assign my-meta1-value = page.meta1-value %}
  {% endif %}

  {% comment %}
    In the second meta field, we provide information about the venue with which the event is associated.

    The priority case is if there are other IDEAS events at the same venue, in which case this should be
    a subevent of another event on the site for overarching conference.  In that case, we use the label "Part of"
    and link to the parent event on the site.

    The next case is if there is venue information in the event frontmatter, but there are no other IDEAS-organized events
    associated with this venue so this one stands alone.  In this case, we use the label "Venue" and put the venue 
    information in for the value. This can include a link.

    The fallback case is if the meta2-name and meta2-value are explicitly specified in the event frontmatter.  Note even if
    these keys are explicitly provided, the two cases above will override.  Maybe that's upside down.
  {% endcomment %}
  {% if page.parent-event-name and page.parent-event-file %}
    {% assign my-meta2-name = "Part of" %}
    {% capture my-meta2-value %}<a href='{{ page.parent-event-file }}'>{{ page.parent-event-name }}</a>{% endcapture %}
  {% elsif page.venue %}
    {% assign my-meta2-name = "Venue" %}
    {% capture my-meta2-value %}{% if page.venue-url %}<a href="{{ page.venue-url }}">{{ page.venue }}</a>{% else %}{{ page.venue }}{% endif %}{% endcapture %}
  {% else %}
    {% assign my-meta2-name = page.meta2-name %}
    {% assign my-meta2-value = page.meta2-value %}
  {% endif %}

  {% comment %}
    For most events, we take the title as-is from the frontmatter.  But tutorials are special.  
    They usually have a "title-type" that characterizes how the venue labels the event (e.g., tutorial or track or training or...).
    They also have venue information, which we will put into the blurb here iff this is a standalone event (i.e., one that doesn't have
    parent-event information).
  {% endcomment %}

  {% if page.title-type %}
    {% assign my-title = page.title | append: " " | append: page.title-type %}
  {% else %}
    {% assign my-title = page.title %}
  {% endif %}

  {% assign my-blurb = page.blurb | default: nil %}
  {% assign my-eyebrow = page.type | detault: nil %}

  <main class="page-content layout-wrapper" aria-label="Content">
    {%- include _layout/hero-page.html
      eyebrow = my-eyebrow 
      title = my-title
      blurb = my-blurb
      meta1-name = my-meta1-name
      meta1-value = my-meta1-value
      meta2-name = my-meta2-name
      meta2-value = my-meta2-value
    -%}


    {% comment %}
              Emit sidebar
  
              Use artifact structure if present
              Otherwise use sidemeta*-* keys  
    {% endcomment %}
    {% if page.artifacts %}
      {% 	include _layout/sidebar-events-artifacts.html 
        startdate = page.startdate
        enddate = page.enddate
        time = page.time
        location = page.location
        artifacts = page.artifacts
      %}
    {% else %}
      {%- include _layout/sidebar-events.html 
        startdate = page.startdate
        enddate = page.enddate
        time = page.time
        location = page.location
        meta1-name = page.sidemeta1-name
        meta1-value = page.sidemeta1-value
        meta2-name = page.sidemeta2-name
        meta2-value = page.sidemeta2-value
        meta3-name = page.sidemeta3-name
        meta3-value = page.sidemeta3-value
        meta4-name = page.sidemeta4-name
        meta4-value = page.sidemeta4-value
        meta5-name = page.sidemeta5-name
        meta5-value = page.sidemeta5-value
        meta6-name = page.sidemeta6-name
        meta6-value = page.sidemeta6-value
        meta7-name = page.sidemeta7-name
        meta7-value = page.sidemeta7-value
        meta8-name = page.sidemeta8-name
        meta8-value = page.sidemeta8-value
      -%}
      {% endif %}

      {% comment %}
                Start page content

                If there's a video artifact, display it at the top of the page
                A display-video key set to false will override this, if desired
      {% endcomment %}

      {% assign have-video = page.artifacts | find_exp: "item", "item.yt-video-id" %}
      {% assign have-playlist = page.artifacts | find_exp: "item", "item.yt-playlist-id" %}

      {% if page.display-video != nil %}
        {% assign my-display-video = page.display-video %}
      {% else %}
        {% assign my-display-video = true %}
      {% endif %}

      {% if my-display-video %}
        {% if have-video %}
          {% capture my-embed-code %}<iframe width='560' height='315' src='{{ site.youtube-embed-v-url }}{{ have-video.yt-video-id }}' title='YouTube video player;' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>{% endcapture %}
          {%  include media-video.html embed-code = my-embed-code %}
        {% elsif have-playlist %}
          {% capture my-embed-code %}<iframe width='560' height='315' src='{{ site.youtube-embed-pl-url }}{{ have-playlist.yt-playlist-id }}' title='YouTube video player;' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>{% endcapture %}
          {%  include media-video.html embed-code = my-embed-code %}
        {% endif %}
      {% endif %}

      {% comment %}
                Incorporate description or content from event file

                The general expectation is that an event will have *either* 
                a description in metadata *or* page content that takes its place.

                For events that are used on multiple websites, it may be useful to
                have a description for use on the i-p.o site and page content which
                is used by the other site (it may also use the description).
      {% endcomment %}

      {% if page.description %}
      {{ page.description | markdownify }}
      {% else %}
      {{ content }}
      {% endif %}
    
      {% comment %}
              Show registration link

              If the link is provided and if the event is upcoming
      {% endcomment %}

      {% if page.enddate %}
        {% include upcoming-event event=page.enddate %}
      {% elsif page.startdate %}
        {% include upcoming-event event=page.startdate %}
      {% else %}
        {% assign upcoming = false %}
      {% endif %}

      {% if upcoming and page.registration-url %}
      {%  include text-biglink.html
          blurb = "Register for the Event"
          url = page.registration-url
      %}
      {% endif %}

      {% comment %}
                List presenters, moderators, and organizers, if present

                If you don't want any of these to be displayed, you can comment out the metadata keys.
      {% endcomment %}

      {% if page.presenters %}
        <h1>{{ page.presenters | size | pluralize: "Presenter", "Presenters" }}</h1>
        <ul>
          {% for person in page.presenters %}
          <li>{{ person.name }}
            {% if person.affiliation %} ({{ person.affiliation }}){% endif %}
          </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if page.panelists %}
        <h1>{{ page.panelists | size | pluralize: "Panelist", "Panelists" }}</h1>
        <ul>
          {% for person in page.panelists %}
          <li>{{ person.name }}
            {% if person.affiliation %} ({{ person.affiliation }}){% endif %}
          </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if page.moderators %}
      <h1>{{ page.moderators | size | pluralize: "Moderator", "Moderators" }}</h1>
      <ul>
        {% for person in page.moderators %}
        <li>{{ person.name }}
          {% if person.affiliation %} ({{ person.affiliation }}){% endif %}
        </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if page.organizers %}
      <h1>{{ page.organizers | size | pluralize: "Organizer", "Organizers" }}</h1>
      <ul>
        {% for person in page.organizers %}
        <li>{{ person.name }}
          {% if person.affiliation %} ({{ person.affiliation }}){% endif %}
        </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% comment %}
              List bios for presenters, panelists, moderators, organizers, if present

              This is a little trickier than just listing the people. It is quite possible bios are not provided, even if the people are listed.  So we need to check for them before we emit the heading.
    {% endcomment %}
    
    {% if page.presenters %}
      {% assign bios = 0 %}
      {% for person in page.presenters %}
        {% if person.bio and person.bio != "" %}
          {% assign bios = bios | plus: 1 %}
        {% endif %}
      {% endfor %}

      {% if bios > 0 %}
        <h1>{{ bios | pluralize: "Presenter Bio", "Presenter Bios" }}</h1>
        {% for person in page.presenters %}
          {{ person.bio | markdownify }}
        {% endfor %}
      {% endif %}
    {% endif %}

  {% if page.panelists %}
    {% assign bios = 0 %}
    {% for person in page.panelists %}
      {% if person.bio and person.bio != "" %}
        {% assign bios = bios | plus: 1 %}
      {% endif %}
    {% endfor %}

    {% if bios > 0 %}
      <h1>{{ bios | pluralize: "Panelist Bio", "Panelist Bios" }}</h1>
      {% for person in page.panelists %}
        {{ person.bio | markdownify }}
      {% endfor %}
    {% endif %}
  {% endif %}

  {% if page.moderators %}
      {% assign bios = 0 %}
      {% for person in page.moderators %}
        {% if person.bio and person.bio != "" %}
          {% assign bios = bios | plus: 1 %}
        {% endif %}
      {% endfor %}

      {% if bios > 0 %}
        <h1>{{ bios | pluralize: "Moderator Bio", "Moderator Bios" }}</h1>
        {% for person in page.moderators %}
          {{ person.bio | markdownify }}
        {% endfor %}
      {% endif %}
    {% endif %}

    {% if page.organizers %}
      {% assign bios = 0 %}
      {% for person in page.organizers %}
        {% if person.bio and person.bio != "" %}
          {% assign bios = bios | plus: 1 %}
        {% endif %}
      {% endfor %}

      {% if bios > 0 %}
        <h1>{{ bios | pluralize: "Organizer Bio", "Organizer Bios" }}</h1>
        {% for person in page.organizers %}
          {{ person.bio | markdownify }}
        {% endfor %}
      {% endif %}
    {% endif %}

  </main>

{%- include _layout/footer.html -%}

</body>

</html>
