<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include _layout/head.html -%}

  <body>

    {%- include _layout/header.html -%}

    {%  include _home/hero-home.html 
        blurb = "We advocate for a culture that enables software quality as a critical component of quality science" 
    %}

    <main class="page-content layout-wrapper" aria-label="Content">
      {{ content }}
    </main>

    {%- include _layout/footer.html -%}

  </body>

</html>




