---
layout: none
---
{% comment %}
  Figure out where we are in the collection so that we can list the
  three webinars immediately preceding this one.
{% endcomment %}
{% assign sorted = site.events-hpcbp | sort: "startdate" | reverse %}
{% for webinar in sorted %}
{% if webinar.startdate == page.startdate and webinar.title == page.title %}
  {% assign current = forloop.index %}
  {% break %}
{% endif %}
{% endfor %}
{% assign hpcbp-tag = page.path | basename_without_extension %}
<html>
  <head>
    <title>Webinar Announcement for Slack</title>
  </head>
<body>
<main>
  <h1>Webinar Announcement for Slack</h1>

  <p><strong>{{ page.startdate | date: "%F" }}: </strong> {{ page.title }}</p>



<h2>Short version</h2>
{% if page.short-description %}
<p><em>Yes, it looks like there's a lot of vertical white space here.  However, when pasted into Slack it will be well formatted. You will probably want to eliminate the website previews before sending.</em></p>
<section style="border: 3px; border-style: solid; padding: 1em;">
  <p>The next webinar in the HPC Best Practices series:</p>
  <br>
  <p><strong>{{ page.title }}</strong></p>
  <p>will be presented by <strong>{% for person in page.presenters %}{{ person.name }}{% if person.affiliation %} ({{ person.affiliation }}){% endif %}{% unless forloop.last %}, {% endunless %}{% if forloop.rindex0 == 1 %}and {% endif %}{% endfor %}</strong></p>
  <p>on <strong>{{ page.startdate | date: "%B %d" }} {{ page.time }}</strong></p>
  <br>
  <p><strong>Registration:</strong> <a href="{{ page.registration-url }}">{{ page.registration-url }}</a></p>
  <br>
  <p><strong>Topic:</strong> {{ page.short-description }}</p>
  <br>
  <p><strong>Details:</strong> <a href="{{ page.url | replace: '/internal/events-hpcbp-slack', '/events' | absolute_url }}">{{ page.url | replace: '/internal/events-hpcbp-slack', '/events' | absolute_url }}</a></p>
</section>
{% else %}
<em>Short description not provided.</em>
{% endif %}

<h2>Full version</h2>
<p><em>Yes, it looks like there's a lot of vertical white space here.  However, when pasted into Slack it will be well formatted. You will probably want to eliminate the website previews before sending.</em></p>
<section style="border: 3px; border-style: solid; padding: 1em;">
  <p>The next webinar in the HPC Best Practices series:</p>
  <br>
  <p><strong>{{ page.title }}</strong></p>
  <p>will be presented by <strong>{% for person in page.presenters %}{{ person.name }}{% if person.affiliation %} ({{ person.affiliation }}){% endif %}{% unless forloop.last %}, {% endunless %}{% if forloop.rindex0 == 1 %}and {% endif %}{% endfor %}</strong></p>
  <p>on <strong>{{ page.startdate | date: "%B %d" }} {{ page.time }}</strong></p>
  <br>
  <p><strong>Registration:</strong> <a href="{{ page.registration-url }}">{{ page.registration-url }}</a></p>
  <br>
  <p>{% if page.description %}{{ page.description }}{% else %}{{ content }}{% endif %}</p>
  <br>
  <p><strong>Details:</strong> <a href="{{ page.url | replace: '/internal/events-hpcbp-slack', '/events' | absolute_url }}">{{ page.url | replace: '/internal/events-hpcbp-slack', '/events' | absolute_url }}</a></p>
</section>

</main>
</body>
</html>