---
layout: none
---
{% comment %}
  Figure out where we are in the collection so that we can list the
  three webinars immediately preceding this one.
{% endcomment %}
{% assign sorted = site.events-hpcbp | sort: "startdate" | reverse %}
{% for webinar in sorted %}
{% if webinar.startdate == page.startdate and webinar.title == page.title %}
  {% assign current = forloop.index %}
  {% break %}
{% endif %}
{% endfor %}
{% assign hpcbp-tag = page.path | basename_without_extension %}
<html>
  <head>
    <title>Webinar Announcement for Computing Facilities</title>
  </head>
<body>
<main>
  <h1>Webinar Announcement for Computing Facilities</h1>

  <p><strong>{{ page.startdate | date: "%F" }}: </strong> {{ page.title }}</p>

  <p><em>Many computing facilities communicate regularly with their users through email (and other channels) about related trainings and events that might be of interest.  The the purpose of this page is to make it as easy as possible for facilities to announce HPC-BP webinars by providing the information formatted as the facility prefers. The goal is that it should be a simple cut-and-paste from here into your communication tools.  If your facility would like to be added to this page, or if changes are needed to the way your content is presented, please <a href="mailto:IDEASProductivity@gmail.com?subject=HPC-BP facilities announcements page">contact us</a>.</em> </p>
  
  <p>Note to users of this page: vertical spacing can depend significantly on the tools being used, and sometimes, it is necessary to make things look rather odd here for them to paste as desired into your tools.  Conversely, if you're not getting the vertical spaceing you want, it is probably something we can improve.</p>

<h2>ALCF</h2>
<section style="border: 3px; border-style: solid; padding: 1em;">
  <p>*** HPC Best Practices Webinar: {{ page.title }}: {{ page.startdate | date: "%B %-d" }} *** <a href="{{ page.url | replace: '/internal/events-hpcbp-facilities', '/events' | absolute_url }}">{{ page.url | replace: '/internal/events-hpcbp-slack', '/events' | absolute_url }}</a></p>
</section>

<h2>NERSC</h2>

{% comment %}
  A completely inflexible kludge to get event times in Pacific time.

  Assumes page.time is a string of the form "%l:%M %P - "%l:%m %P E?T", where
  %l is the 12-hour hours, %M is the minutes, %P is "am" or "pm", and the 
  timezone is either EST or EDT. We subtract three hours (10800 seconds) 
  to shift from Eastern to Pacific.

  Does NOT handle any edge cases (e.g., times near the start/end of the day, etc.)
{% endcomment %}

{% assign t = page.time | split: "-" %}
{% assign t0p = t[0] | date: "%s" | minus: 10800 | date: "%l:%M %P" %}
{% assign t1p = t[1] | date: "%s" | minus: 10800 | date: "%l:%M %P" %}

<section style="border: 3px; border-style: solid; padding: 1em;">
<p><strong>HPC Best Practices Webinar on {{ page.topic | default: "NEED HUMAN INTERVENTION" }}, {{ page.startdate | date: "%B %-d" }}</strong></p>

<p>The IDEAS Productivity project is hosting an upcoming webinar in their HPC Best Practices Series, entitled "{{ page.title }}" on {{ page.startdate | date: "%B %-d" }}, from  {{ t0p }}-{{ t1p }} (Pacific Time).</p>

<p>{% if page.short-description %}{{ page.short-description }}{% else %}{{ content }}{% endif %}</p>

<p>There is no cost to attend, but registration is required. For more information, please see the <a href="{{ page.url | replace: '/internal/events-hpcbp-failities', '/events' | absolute_url }}">event webpage</a>.</p>
</section>

<h2>OLCF</h2>
<section style="border: 3px; border-style: solid; padding: 1em;">
  <p><strong><u>{{ page.title }}</u></strong><br>
  {{ page.startdate | date: "%B %-d" }} - {{ page.time }}<br>
  The IDEAS Productivity Project will host an HPC Best Practices Webinar about {{ page.topic | default: "NEED HUMAN INTERVENTION" }} on {{ page.startdate | date: "%B %-d" }}.
    {% if page.short-description %}{{ page.short-description }}{% else %}{{ content }}{% endif %}
  </p>
  <p>Learn more: <a href="{{ page.url | replace: '/internal/events-hpcbp-facilities', '/events' | absolute_url }}">{{ page.url | replace: '/internal/events-hpcbp-slack', '/events' | absolute_url }}</a></p>
</section>

</main>
</body>
</html>